@model automapper_application.Models.PersonDTO

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<h4>PersonDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ssn" class="control-label"></label>
                <input asp-for="ssn" class="form-control" />
                <span asp-validation-for="ssn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonMiddlename" class="control-label"></label>
                <input asp-for="PersonMiddlename" class="form-control" />
                <span asp-validation-for="PersonMiddlename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matialStatus" class="control-label"></label>
                <input asp-for="matialStatus" class="form-control" />
                <span asp-validation-for="matialStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
